html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
 body {
     overflow-y: hidden !important;
     background-color: #303030;
 }

 .tabs {
     background-color: #6a1b9a;
 }

 .tabs li {
     color: white;
 }

 #test-swipe-2>div,
 #test-swipe-3>div {
     display: flex;
     margin-top: 50px !important;
     margin-bottom: 80px !important;
     justify-content: space-around;
     flex-direction: column;
     height: 40% !important;
 }

 #test-swipe-2 .card-content {
     height: 120px;
 }

 .card {
     margin: 1% 10% !important;
     width: 80% !important;
     background-color: white !important;
 }

 #card-conta {
     margin-top: 10px !important;
     background-color: white !important;
     height: 240px !important;
 }

 #card-rate {
     background-color: white !important;
     margin-top: 10px !important;
     margin-bottom: 0 !important;
     height: 240px !important;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center !important;
     ;
 }

 #card-title1 {
     text-align: center !important;
     margin-bottom: 20px !important;
     margin-top: 10px !important;
 }

 #sentiment_icon {
     height: 100px !important;
     margin-top: 10px !important;
 }

 #submit-btn {
     background-color: #6a1b9a !important;
 }

 .input-field input[type=text]:focus {
     border-bottom: 1px solid #6a1b9a;
     box-shadow: 0 1px 0 0 #000;
 }

 .input-field .prefix.active {
     color: #6a1b9a;
 }

 .input-field input[type=text].valid {
     border-bottom: 1px solid #6a1b9a !important;
     box-shadow: 0 1px 0 0 #000 !important;
 }

 .input-field input[type=text]:focus+label {
     color: #6a1b9a;
 }

 #card-graph {
     background-color: white !important;
 }

 .canvas-holder {
     width: 15%;
 }

.line-holder{
    display: flex !important;
    align-content: center;
    justify-content: center;
}

.canvas-holder-line{
    width: 50%;
}
 
 @media (max-width: 760px) {
     .canvas-holder {
         width: 40% !important;
     }
     .canvas-holder-line{
        width: 100%;
     }
 }