<!DOCTYPE html>
<html>

<head>
    <title>zOS Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/style/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="/style/style.css" rel="stylesheet" />

</head>

<body>
    <div>

        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a href="#cics" class="active" style="color:white;"><i class="material-icons">trending_up</i></a></li>
            <li class="tab col s3"><a href="#balance" style="color:white;"><i class="material-icons">account_balance_wallet</i></a></li>
            <li class="tab col s3"><a href="#rate" style="color:white;"><i class="material-icons">info_outline</i></a></li>
            <li class="tab col s3 right"><a href="#" onclick="logout()" style="color:white;"><i class="material-icons">exit_to_app</i></a></li>
        </ul>


        <div class="row"><a href="#"><i class="material-icons right white-text hide-on-small-only" style="cursor: pointer;" onclick="reloadData()">refresh</i></a></div>


        <div id="cics">
            <div class="row">

                <div class="col s8 offset-s2 m3">
                    <div class="card">
                        <div class="card-content black-text">
                            <a href="#"><i class="material-icons right black-text" id="reload" style="cursor: pointer;" onclick="reloadTransactions()">refresh</i></a>
                            <span class="card-title center">Total Transações</span>
                            <p class="flow-text center purple-text" id="total_transactions">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s8 offset-s2 m3">
                    <div class="card">
                        <div class="card-content black-text">
                            <a href="#"><i class="material-icons right black-text" id="reload" style="cursor: pointer;" onclick="reloadPrograms()">refresh</i></a>
                            <span class="card-title center">Programas em uso</span>
                            <p class="flow-text purple-text center" id="total_programs">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col  s8 offset-s2  m3">
                    <div class="card">
                        <div class="card-content black-text">
                            <a href="#"><i class="material-icons right black-text" id="reload" style="cursor: pointer;" onclick="reloadCpu()">refresh</i></a>
                            <span class="card-title center">Transações da CPU</span>
                            <p class="flow-text purple-text center" id="cpu_time">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col  s8 offset-s2  m3">
                    <div class="card">
                        <div class="card-content black-text">
                            <a href="#"><i class="material-icons right black-text" id="reload" style="cursor: pointer;" onclick="reloadCpuTotal()">refresh</i></a>
                            <span class="card-title center">Tempo total de CPU</span>
                            <p class="flow-text purple-text center" id="total_cpu_time">
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <hr class="style14">


            <div class="row">
                <div class="col s8 offset-s2 m12 center">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><img src="/images/chart.png" width="auto" height="20px" style="margin-right: 25px;">Histórico
                                de Transações</div>
                            <div class="collapsible-body" style="background-color: white;">
                                <div class="collapsible-content">
                                    <div class="chart-container" >
                                        <canvas id="transactionsChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><img src="/images/counter.png" width="auto" height="20px" style="margin-right: 25px;">Histórico
                                de Programas em Uso</div>
                            <div class="collapsible-body" style="background-color: white;">
                                <div class="collapsible-content">
                                    <div class="chart-container" >
                                        <canvas id="programsChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div id="balance">
            <div class="row">
                <div class="col s8 offset-s2 m8 offset-m2">
                    <div class="card">
                        <div class="card-content black-text">
                            <a href="#"><i class="material-icons right black-text" id="reload" style="cursor: pointer;" onclick="reloadSaldo()">refresh</i></a>
                            <span class="card-title center">Saldo da conta</span>
                            <p class="flow-text center purple-text" id="total_balance">
                                R$<span id="valor-saldo"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="rate">
            <div class="row">
                <div class="col s8 offset-s2 m8 offset-m2">
                    <div class="card">
                        <div class="card-content black-text">
                            <div class="row">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12" id="teste">
                                            <input id="loan_value" type="text" class="validate" oninput="enableLoan()">
                                            <label for="loan_value">Valor Empréstimo</label>
                                        </div>
                                        <div class="col s12 center">
                                            <button class="btn purple" id="loanBtn" onclick="getCreditRate()" disabled>Pedir Crédito</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <hr class="style14">
            <br>
            <div class="row">
                <div class="col s8 offset-s2 m8 offset-m2" id="loan_result"></div>
            </div>
        </div>



        <script src="/scripts/util.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script src="/scripts/methods.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>



</body>

</html>