<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="pt">

<head>
    <title>ZOS-Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .tap-target{
            background-color: blue !important;
            border-radius: 0 !important;
        }
    </style>
</head>

<body>
    <a id="menu" class="waves-effect waves-light btn btn-floating" onclick="menuToggle()"><i class="material-icons">menu</i></a>

    <!-- Tap Target Structure -->
    <div class="tap-target" data-activates="menu">
        <div class="tap-target-content">
            <h5>Saldo</h5>
            <p>Conta não selecionada.</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script>
        var open = false;
        function menuToggle(){
            if(open){
                 $('.tap-target').tapTarget('close');
                open = false;
            }else{
                        $('.tap-target').tapTarget('open');
                open = true;
            }
        }


    </script>
</body>

</html>
